---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <style>
    /* Custom styles for the Hero component */
    :global(.hero-section .py-12) {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }
    :global(.hero-section .md\:py-20) {
      padding-top: 4rem !important;
      padding-bottom: 2.5rem !important;
    }
  </style>

  <div class="hero-section">
    <Hero>
      <Fragment slot="title">
        We work at the spatial biology-technology
        interface.
      </Fragment>

      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          To understand chromatin &#8596; synapse communication in the mammalian brain.</span
        >
      </Fragment>
    </Hero>
  </div>


  <!-- Content Widget **************** -->

  <div class="relative">
    <div class="absolute inset-0 bg-red-900 dark:bg-red-900" style="height: 290px;"></div>
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 pt-10 pb-4">
      <div class="text-center mb-6">
        <h2 class="text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading text-black">Our Research</h2>
        <p class="max-w-3xl mx-auto text-xl text-black">
          The Cremins Laboratory works at the spatial biology-technology interface to investigate the structure-function relationship of connections 
          across the scales of chromatin, synapses, and circuits in the developing and diseased mammalian brain.
        </p>
      </div>
    </div>
  </div>

  <Content
    items={[
      {
        title: `Neurons exhibit elaborate structures at multiple scales, including diverse long-range axonal projections to form circuits,
         a range of complex dendritic spine geometries at the synapse, and the folding of the 10 nm chromatin fiber into compartments, 
         topologically associating domains (TADs), and long-range looping interactions in the nucleus. `,
      },
      {
        title: `We have thus far focused on the nucleus to elucidate chromatin’s higher-order folding patterns at kilobase-resolution during neural 
        lineage commitment, maturation, activity stimulation, and in neurological disorders. In mammals, the genetic sequence is >2 meters when stretched 
        out end-to-end. It is folded into exquisite structures to fit into a nucleus roughly the size of a pin’s head. At the lab’s inception, it remained 
        unclear how genomes are folded in a cell type-specific manner below the resolution of a Megabase, and whether and how higher-order folding could 
        deterministically influence genome function. Our major contribution has been to provide early foundational insights into the genome’s structure-function 
        relationship. We have elucidated how chromatin works through long-range mechanisms to govern the establishment of new gene expression, repeat
         instability, and replication origin firing patterns when mammalian cells transition states in the healthy and diseased brain.`,
      },
    ]}
    image={{
      src: '~/assets/images/cremins-lab-venn-diagram.png', alt: 'Venn diagram representation of the Cremins Lab research', width: 500, height: 500,
    }}
    class:list={["pt-0 mt-0"]}
  >
    <Fragment slot="content">
    </Fragment>
  </Content>

  <Hero>
    <Fragment slot="content" class:list={["pt-0 mt-0"]}>
      Overall, by adding a spatial, third dimension to our understanding of chromatin’s regulatory mechanisms, the Cremins lab has uncovered 
      foundational basic insights into the genome’s structure-function relationship in the mammalian brain and in neurological disorders. 
      Looking forward, the lab will focus on mechanisms underlying chromatin-synapse communication and a fundamental mystery in neuroscience: 
      how memory is stored over decades despite rapid turnover of proteins/RNAs. The long-term goal of the Cremins lab is to bridge chromatin 
      folding, synaptic plasticity, and neurophysiology to elucidate how the genome’s structure-function relationship influences synaptic 
      defects in intractable neurodevelopmental, neuropsychiatric, and neurodegenerative disorders.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Lab News"
    items={[
      {
        title: 'Talk',
        description: `Kenneth Pham gave a great talk on his work to the UPenn Genetics, Epigenetics, and Gene expression communities on his work in heterochromatin mosaicism in fragile X syndrome. <br /> March 14, 2025`,
      },
      {
        title: 'Paper',
        description:
          "Congratulations to MSTP student Han-Seul Ryu for the acceptance of her collaborative paper with the Anguera Lab entitled B cell stimulation changes the structure and higher-order organization of the inactive X chromosome in Cell Reports. Amazing job Han-Seul! <br /> February 5, 2025",
      },
      {
        title: 'Paper',
        description:
          'Congratulations to PhD student Rohan Patel for the acceptance of his paper entitled " FISHnet: Detecting chromatin domains in single-cell sequential Oligopaints imaging data" in Nature Methods. https://www.biorxiv.org/content/10.1101/2024.06.18.599627v1 <br /> January 28, 2025',
      },
      {
        title: 'Paper',
        description:
          "Congratulations to clinical fellow and postdoc alum  Michael Guo on the publication of his paper entitled 'Polygenic burden of short tandem repeat expansions promotes risk for Alzheimer's disease' in Nature Communications. https://www.nature.com/articles/s41467-025-56400-0 <br /> January 28, 2025",
      },
      {
        title: 'New Postdoc',
        description:
          "Sweety Meel joins us from Dimple Notani's lab (https://swati.nipgr.ac.in/Scientist/SWEETY%20MEEL) as a new postdoctoral research fellow. Welcome Sweety! <br /> January 13, 2025",
      },
      {
        title: 'New Postdoc',
        description: 'Javed Chitman joins us from Florida State as a new postdoctoral research fellow. Welcome Javed! <br /> January 6, 2025',
      },
      {
        title: 'New Post-Bacc',
        description: 'Skenlanda Marseille joins our lab full time for a post-bacc internship to continue her long-time work in our SEEDs program. Welcome, Skenlanda! <br /> January 6, 2025',
      },
      {
        title: 'Alumni Update',
        description:
          'Congrats to our alum Dr. Jonathan Beagan who has now joined Precede Bio as a computational scientist. He presented his work in a poster and panel at SABCS to ascertain if chromatin signatures can be detected in liquid biopsy and used to diagnose intractable breast cancer. https://www.instagram.com/p/DD4zTogxEqK/ <br /> December 22, 2024',
      },
      {
        title: 'Alumni Update',
        description: "Congratulations to our alum Dr. Ji Hun Kim who has started his own laboratory at KAIST and just won his first independent grant.https://www.instagram.com/p/DDkVZRaypWc/ <br /> December 14, 2024",
      },
      {
        title: 'Trainee Award',
        description: "Congratulations to PhD candidate Rohan Patel – he is awarded an NIH fellowship for his work to computationally explore chromatin patterns and mechanisms of loop extrusion in sequential oligopaints imaging data.https://www.instagram.com/p/DDPftAlxE86/?img_index=5 <br /> December 6, 2024",
      },
      {
        title: 'PHD Defense',
        description: "Katelyn Titus defends their PhD with an unbelievable 11 papers, congratulations, Dr. Titus! We have loved our time working with you and can't wait to share your achievements with our community. <br /> December 5, 2024",
      },
      {
        title: 'PHD Defense',
        description: "Ali Nikish defends her PhD, congratulations, Dr. Nikish! We are all proud of you! <br /> December 4, 2024",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-red-900 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

</Layout>
