---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '~/assets/images/cremins-lab-logo.png';
---

  <Image 
    src={logo} 
    alt={`${SITE?.name} logo`} 
    width={40} 
    height={40} 
    class="mr-2"
  />
  <span
    class="self-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    {SITE?.name}
  </span>
